
DATABASE_URL="postgresql://postgres.<supabase_third_party_orm_config>:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.<supabase_third_party_orm_config>:5432/postgres"

NEXT_PUBLIC_SUPABASE_URL=#supabse_framework_env_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=#_supabse_framework_env_anon_key
